

.caja{
   max-width: 1400px;
   width: 100%;
   min-height: 400px;
   height: 100%;
   background-image: url("../../assets/images/bannerDashboard.png");
}

#botones1{
   display: flex;
   padding-top: 8%;
   padding-left: 80px;
   margin: auto;
}

p{

 text-decoration: none;
 font-weight: bolder;
 text-align: center;  
}

span{
   color: #F2692F;
}
.paciente{
   max-width: 250px ;
   width: 100%;
   margin-left: 3%; 
}

.paciente a{
   margin-left: 30%;
}

.paciente p{
   color: #FFFFFF;
   text-decoration: none;
}

.vacunacion{
   max-width: 250px ;
   width: 100%;
   margin-left: 46%;
}

.vacunacion a{
   margin-left: 30%;
}

.vacunacion p{
   color: #FFFFFF;
   text-decoration: none;
}

.d-flex{
   margin-left: 47%;
   margin-top: 4rem;

}
.form-control{
   background-image: url("../../assets/images/buscando.png");
   background-repeat: no-repeat;
   background-size: 35px;
   background-position: 0.5rem center;
   padding: 15px;
   padding-left: 50px;
   max-width: 450px;
   width: 100%;
   border-radius: 15px 0 0 15px;
   font-size: 1.5em;

}

.barrabusqueda{
     max-width: 150px;
   width: 100%;
   min-height: 65px;
   height: 100%;
   padding: 15px;
   background-color:#F2692F;
   opacity: 80%;
   color: #FFFFFF;
   font-size: 1.5em;
   font-weight: bolder;
   border-radius: 0 15px 15px 0;
   

}

@media screen and (max-width:1024px){
  .caja{
   width: 100%;
  }

   #botones1{
      padding: 120px 0 0 0;
      width: 80%;

}

#botones1 .vacunacion{
   padding-right: 10%;
}
.paciente p{
   margin-left: 50px;

}

.vacunacion p{
   margin-left: 40px;

}

.d-flex{
   margin-left: 20%;
   margin-top: 4rem;

}
.form-control{
   max-width: 400px;
   width: 100%;
}
}

@media screen and (max-width:425px){

.caja{
   min-height: 480px;
   height: 100%;
}

#botones1{
 max-width: 400px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  margin: auto;
  
}

#botones1 .vacunacion{
margin-right: 120px;
position: absolute;
}

#botones1 .paciente{
width: 120px;
margin-left: 40px;

}

#botones1 .paciente p{
   margin:  5px 0 0 50px;
}

#botones1 .vacunacion p{
   margin:  5px 0 0 20px;
}


.d-flex{
   margin-left: 5%;
   margin-top: 2rem;
}

.form-control{
   max-width: 250px;
   width: 100%;
   font-size: 1em;
}
button{
   max-width: 120px;
   width: 100%;
   font-size: 1em;   
}

}

@media screen and (max-width:375px){

#botones1{
 max-width: 350px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}



   #botones1 img{
   width: 80px;
   margin: auto;
   
}
#botones1 .vacunacion img{
   margin-left: 15px;
}

#botones1 .vacunacion p{
   margin:  5px 0 0 20px ;
}

#botones1 .paciente p{
   margin:  5px 0 0 35px;
}

.vacunacion{
   max-width: 60px;
   width: 100%;
   margin-left: 170px;
   height: 100px;
}

.paciente{
   max-width: 100px;
   width: 100%;
   height: 100px;
}

}



@media screen and (max-width:320px){

#botones1{
 max-width: 300px;
  width: 100%;
  min-height: 180px;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  
}


#botones1 .paciente img{
      
   margin-right: 20px;
}

#botones1 .paciente p{
   margin: auto;
   margin: 5px 0 0 30px;
 }

#botones1 .vacunacion p{

   margin-left: 10px;
}

.d-flex{
   margin-left: 10%;
   margin-top: 6rem;
}

.form-control{
   max-width: 150px;
   width: 100%;
   font-size: 1em;
}
button{
   max-width: 80px;
   width: 100%;
   font-size: 1em;   
}
.vacunacion{
   max-width: 30px;
   width: 100%;
   margin-left: 170px;
   height: 100px;

}


.paciente{
   max-width: 50px;
   width: 100%;
   height: 100px;
   padding: 0;
}


}

