

.containeregistro1{
    
    background-image: url("../../assets/images/fondoregispaciente.jpg");
    background-size: cover;
    max-width: 1400px;
    width: 100%;
}
.formulario{
    background-color: white;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 0 20px;
}
.cajafor{
    margin: 100px auto;
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    padding: 15px;
   font-weight: 500;
  
}
.punto:checked {
    background-color: #F2692F;
    border-color: #F2692F;
}
.letras{
    font-weight: normal;
}
.grupoinput{
    position: relative;
    z-index: 90;
}

.form-checkpaci {
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.iconovalidacion{
   position: absolute;
   
   bottom: 14px;
   z-index: 100;
   font-size: 16px;

}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: black;
}
.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: black;
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    background-color: #F2692F;
}
/*------ INICIO BOTONES-----*/
.botonregresar{
    color: #fff;
    background: #F2692F;
    border-color: #F2692F;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 30px;
    box-shadow: 2px 2px 8px #000000;
    margin-left: 30px;
    
}
.botoncerrar{
    color: #fff;
    background: #F2692F;
    border-color: #F2692F;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px #000000;
    margin-left: 600px;
    
}
.botonregistrar{
    color: #fff;
    background: #F2692F;
    border-color: #F2692F;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px #000000;
    margin-left: 55px;  
}
.botonregresar:hover {
    background-color:#A7A9AC;
    color: #000;
    border:1px solid #A7A9AC;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000000;
}
.botonregistrar:hover {
    background-color:#A7A9AC;
    color: #000;
    border:1px solid #A7A9AC;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000000;
}
.botoncerrar:hover{
    background-color:#A7A9AC;
    color: #000;
    border:1px solid #A7A9AC;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000000;
}
/*------ FIN BOTONES-----*/
.form-select{
    display: inline;
}
.form-selectpaci {
    width: 75%;
}
.form-selectenfer{
    width: 100%;
}
/*------ INICIO TITULO Y SUBTITULOS-----*/
.titulo h1{
    text-align: center;
    color: #FFF;
}
.datosformulario{
 font-weight: bolder;
 color: #464646;
}
span{
   color: #F2692F;
}
/*------ FIN TITULO Y SUBTITULOS-----*/

/*------ INICIO LABEL-----*/
#renglon{
    width: 85px;
    padding-right:3px;
}
#renglonaque{
    padding-right:5px;
}
#renglon2{
    width: 120px;
    padding-right: 5px;
}
#renglonacion{
    width: 120px;
    padding-right: 5px;
}
#renglon3{
    width: 105px;
    padding-right: 5px;
}
#renglon4{
    width: 100px;
    padding-right: 5px;
}
#renglonresidencia{
    padding-right: 15px;
    width: 100px;
}
#renglonenfermedad{
     padding-right: 86px;
}
#renglonenfermedad2{
    padding-right: 15px;
}
#renglonsex{
    width: 80px;
}
#renglonrh{
    width: 80px;
}
/*------ FIN LABEL-----*/

/*------ INICIO INPUTS-----*/
.inputnom{
    
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 80%;
    transition: .3s ease all;
    border: 1px solid transparent;

}
.inputnom:focus {
        border: 3px solid #F2692F;
        outline: none;
        box-shadow: 0 1px 5px #ced4da;
    }


.inputid{

    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 67%;
}
.inputselect{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputselect6 {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 70%;
}
.inputselect7 {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 71%;
}
.inputselect2{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputselect2paci{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputselect3{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputselect4{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputselect5{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputnum{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 63%;
}
.inputaque{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 85%;
}
.inputlocal{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 73%;
}
.inputfecha{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 77%;
}
.inputfechapaci{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 77%;
}
.inputer{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 57%;
}
.inputbarrio{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 78%;
}
.inputcorreo{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 69%;
}
.inputmovil{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 74%;
}
.inputalergia{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 84%;
}
.inpute{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: 0 1px 5px #ced4da;
    width: 55%;
}
/*------ FIN INPUTS-----*/


@media screen and (max-width:768px){
    .botonregistrar{
        margin-left: 175px;
    }
    .botoncerrar{
        margin-left: 300px;
    }
    .form-checkpaci{
        padding-left: 1.5em;
    }
    .inpute{
        width: 90%;
    }
    .inputnom{
        width: 87%;
    }
    .inputnum{
        width: 90%;
    }
    .inputselect{
        width: 86%;
    }
    .inputfecha{
        width: 86%;
    }
    .inputer{
        width: 60%;
    }
    .inputid{
        width: 90%;
    }
    .inputselect2 {
    width: 75%;
    }
    .inputselect2paci {
    width: 76%;
    }
    .inputselect3{
    width: 78%;
    }
    .inputselect4{
    width: 97%;
    }
    .inputselect5{
    width: 97%;
    }
    .inputselect6 {
    width: 98%;
    }
    .inputselect7{
    width: 98%;  
    }
    .inputaque {
        width: 280px;
    }
    .inputbarrio, .inputmovil {
    width: 97%;    
    }
    .inputcorreo {
    width: 97%;
    }
    .inputlocal{
    width: 97%;
    }
    .inputalergia {
    width: 72%;
    }
    .inputfechapaci {
    width: 86%;
    }
    #renglonsex{
    width: 50px;
    }
    #renglonrh{
    width: 40px;
    }
    #renglon4 {
    width: 160px;
    padding-right: 6px;
    }
    #renglon {
    width: 85px;
    }
    #renglonacion {
    width: 128px;
    padding-right: 5px;
    }
    #renglonresidencia{
    width: 140px;
    }
    #renglon2 {
    width: 160px;
    }
  }
