footer {
   max-width: 1400px;
   width: 100%;
   height: 2.5rem;
   background-color: #464646;
   color: white;
   margin: auto;
   text-align: center;
   line-height:45px


 
}


@media (max-width: 425px) {
   footer  {
      margin-left: 10px;
      height: auto;
   }
 }
