.cardcontainerview{
	background-image: url("../../assets/images/view_paciente.jpg");
    background-size: cover;
    max-width: 1400px;
    width: 100%;
    position: absolute;
   }

.cardview{
	background-color: #fff;
	max-width: 70%;
	width: 100%;
	min-height: 1100px;
	height: 100%;
	margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
	color: #000;
	position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(.25rem - 1px);

}
.card-bodyview{
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 30px;	
}

.card-bodyview p{
   color: black;
   text-align: left;
 
}
.parrafo{
   font-weight: normal;
   color: black;
   margin-left: 10px;
}


.datosview1{
 font-weight: bolder;
 color: #464646;
 text-align: center;
 margin-top: 50px;
}

.datosview{
 font-weight: bolder;
 color: #464646;
 text-align: left;
 margin-top: 50px;
 padding-left: 30px;
}
span{
   color: #F2692F;
}


.botonview{
	color: #fff;
    background-color: #F2692F;
    border-color: #F2692F;
    border-radius: .25rem;
    box-shadow: 2px 2px 8px #000000;
    margin: auto;
    margin-left: 40%;
    margin-top: 10%;
    max-width: 150px;
    width: 100%;
    text-decoration: none;
    position: absolute;
    font-weight: bolder;
    font-size: 1.5em;
   
}


.botonview:hover {
	background-color:#A7A9AC;
    color: #000;
    border:1px solid #A7A9AC;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000000;
}

@media screen and (max-width:768px){
	.botonview{
		margin-left: 30%;
	}
}